.header {
    background-color: #040605;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #F2F2F2;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.imagen1 {
    width: 60px;
    margin-left: 10%;
}

.imagen2 {
    width: 60px;
    margin-right: 10%;
}

/* Para pantallas más pequeñas */
@media (max-width: 808px) {
    .imagen1 {
        margin-left: 0px;
    }
    
    .imagen2 {
        margin-right: 0px;
    }
}