.contenedor {
    width: 100%;
    // max-width: 900px;
    margin: auto;
    text-align: center;
  }
  
  select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #2b849b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3fabc6;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  td div {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  